/* Top red section */
.top-bar {
    background: #ff4d4d;
    height: 120px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
}

/* Center container */
.container {
    max-width: 400px;
    margin: auto;
    margin-top: -40px;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #b30000;
    margin-bottom: 5px;
}

.subtitle {
    color: #555;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    text-align: left;
    margin-top: 15px;
    color: #333;
    font-weight: bold;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ffcccc;
    background: #ffe5e5;
    outline: none;
    font-size: 15px;
}

/* Gender buttons */
.gender-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.gender-btn {
    width: 45%;
    padding: 12px;
    background: #b30000;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

/* Age slider */
.age-slider {
    width: 100%;
    margin-top: 10px;
}

/* Submit button */
.submit-btn {
    margin-top: 30px;
    width: 50%;
    padding: 12px;
    background: #ffe6e6;
    border: 2px solid #ffcccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #b30000;
}
